/* Basic Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to right, green 0%, blue 50%, red 100%);
  color: white;
  /* width: 100%; */
}

.navbar-left .navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

/* Navbar Links */
.navbar-link {
  white-space: nowrap;
  margin: 0 10px;
}

/* Navbar Right Section */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Navbar Auth Section */
.navbar-auth {
  margin-left: auto; /* Pushes logout to the far right */
}

/* Logout Button */
.logout-button {
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  white-space: nowrap;
}

.logout-button:hover {
  background-color: #c0392b;
}

.navbar-link:hover {
  background-color: rgba(0, 123, 255, 0.105);
}

.navbar-link{
  border-radius: 5px;
  padding: 8px 16px;
}

/* Navbar Toggle (Hamburger Menu) */
.navbar-toggle {
  display: none; /* Hide by default */
  cursor: pointer;
}

/* Hamburger Icon */
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.hamburger-icon .line {
  background-color: white;
  height: 4px;
  width: 100%;
}

/* Spinner Styles */
.spinner {
  border: 4px solid transparent;
  border-top: 4px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-left: 10px; /* Ensure it doesn't affect the layout */
  display: none; /* Hide spinner by default */
}

.spinner.show {
  display: block; /* Show spinner when needed */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navbar Links for Mobile */
.navbar-right.open {
  display: flex;
  /* flex-direction: column; */
  position: absolute;
  top: 60px; /* Adjust based on navbar height */
  right: 0;
  background-color: #333;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.navbar-right.open .navbar-link {
  margin: 10px 0;
}

/* Media Queries for Mobile & Tablet Responsiveness */
@media screen and (max-width: 768px) {

  .navbar-right {
    display: none; /* Hide navbar items by default */
    width: 100%;
    align-items: flex-start;
  }

  .navbar-toggle {
    display: block; /* Show hamburger icon */
  }

  .navbar-right.open {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to right, green 10%, blue 50%, red 100%);
  }

  .navbar-right.open a {
    margin: 0 !important;
    flex: 0 0 30%; /* Each link takes full width */
    
  }
}

/* Media Query for Tablet (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .navbar{
    /* width: 120%; */
  }

  .navbar-right.open .navbar-link {
    margin: 0;
    flex: 0 0 14.5%;
    max-width: 50%;
  }

.navbar-link{
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.navbar-right {
  gap: 13px;
}
}
